# Ignore node_modules directory
node_modules/

# Ignore build output directories
dist/
build/

# Ignore log files
*.log

# Ignore environment variable files
.env
.env.local

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/
*.swp

# Ignore test coverage reports
coverage/

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

repo-to-text_*.txt
